<h1>Weather Lookup</h1>

<form action="http://localhost:3000/local_weather">
  <div>
    <label for="address">Address:</label>
    <input id="address" type="text" name="address">
  </div>
    <input type="submit" value="Submit Address">
  </div>
</form>

